<% content_for :fixed_header do %>
  <h3 class="primary-text">Acerca de</h3>
<% end %>
    <h4>Autores</h4>
    <ul>
      <li>Víctor Ricardo Vanegas Martínez</li>
      <li>Wálmaro Antonio Pavón Bravo</li>
    </ul>
    <h4>Bibliografía</h4>
    <ul>
      <li>López C. (2001). La gestión del cambio. Recuperado el 26 de Agosto de 2016 de: <a href="http://www.gestiopolis.com/la-gestion-cambio/">http://www.gestiopolis.com/la-gestion-cambio/</a></li>
      <li>
        Mind Tools Editorial Team (s.f.). Kotter's 8-Step Change Model. Recuperado el 26 de Agosto de 2016 de: <a href="https://www.mindtools.com/pages/article/newPPM_82.htm">https://www.mindtools.com/pages/article/newPPM_82.htm</a>
      </li>
      <li>
        Kotter International (2016). The 8-Step Process for Leading Change. Recuperado el 26 de Agosto de 2016 de: <a href="http://www.kotterinternational.com/the-8-step-process-for-leading-change/">http://www.kotterinternational.com/the-8-step-process-for-leading-change/</a>
      </li>
      <li>
      Martí, M. M. (s.f.). TALENTIAGESTIÓ. Recuperado el 26 de Agosto de: <a href="http://www.talentiagestio.com/es/7-beneficios-de-la-gestion-por-competencias-en-las-empresas/">http://www.talentiagestio.com/es/7-beneficios-de-la-gestion-por-competencias-en-las-empresas/</a>
      </li>
      <li>
      EcuRed (s.f.). Gestión del conocimiento. Recuperado el 26 de Agosto de: <a href="http://www.ecured.cu/Gesti%C3%B3n_del_conocimiento">http://www.ecured.cu/Gesti%C3%B3n_del_conocimiento</a>
      </li>
      <li>
      Rodríguez D. (2006). Modelos para la creación y gestión del conocimiento: una aproximación teórica. Recuperado el 26 de Agosto de: <a href="https://ddd.uab.cat/pub/educar/0211819Xn37/0211819Xn37p25.pdf">https://ddd.uab.cat/pub/educar/0211819Xn37/0211819Xn37p25.pdf</a>
      </li>
      <li>
        Wedell G. (08 de Octubre de 2012). ¿Qué es "GESTION DEL CAMBIO" [Video file]. Recuperado el 26 de Agosto de 2016 de: <a href="https://www.youtube.com/watch?v=WzWoYcI53yY&feature=youtu.be">https://www.youtube.com/watch?v=WzWoYcI53yY&feature=youtu.be</a>
      </li>
      <li>
        Iglesias I. (04 de Diciembre de 2013). La Gestión del Conocimiento [Video file]. Recuperado el 26 de Agosto de 2016 de: <a href="https://www.youtube.com/watch?v=demkva-BZjQ">https://www.youtube.com/watch?v=demkva-BZjQ</a>
      </li>
    
    </ul>
    
