<% content_for :fixed_header do %>
  <h3 class="primary-text">Acerca de</h3>
<% end %>
    <h4>Autores</h4>
    <ul>
      <li>Víctor Ricardo Vanegas Martínez</li>
      <li>Walmaro Antonio Pavón Bravo</li>
    </ul>
    <h4>Bibliografía</h4>
    <ul>
    </ul>
    