<% content_for :fixed_header do %>
  <h3 class="primary-text">Acerca de</h3>
<% end %>
    <h4>Autores</h4>
    <ul>
      <li>Víctor Ricardo Vanegas Martínez</li>
      <li>Walmaro Antonio Pavón Bravo</li>
    </ul>
    <h4>Bibliografía</h4>
    <ul>
      <li>López C. (2001). La gestión del cambio. Recuperado el 26 de Agosto de 2016 de: http://www.gestiopolis.com/la-gestion-cambio/</li>
      <li>
        Mind Tools Editorial Team (s.f.). Kotter's 8-Step Change Model. Recuperado el 26 de Agosto de 2016 de: https://www.mindtools.com/pages/article/newPPM_82.htm
      </li>
      <li>
        Kotter International (2016). The 8-Step Process for Leading Change. Recuperado el 26 de Agosto de 2016 de: http://www.kotterinternational.com/the-8-step-process-for-leading-change/
      </li>
    </ul>
    