<% content_for :fixed_header do %>
  <h1 class="primary-text">Introducción</h1>
<% end %>
<p>
  El cambio significa pasar de una condición a otra y afecta a individuos, grupos y organizaciones por igual. En algun momento todas las organizaciones experimentan cambios de algún tipo y puede provenir de diversas causas.
</p>