<% content_for :fixed_header do %>
  <h1 class="primary-text">Introducción</h1>
<% end %>
<div class="row main-section">
<div class="col-sm-6">
<p>
  El cambio significa pasar de una condición a otra y afecta a individuos, 
  grupos y organizaciones por igual. En algun momento todas las organizaciones 
  experimentan cambios de algún tipo y puede provenir de diversas causas.
</p>
<p>
  El cambio no solo significa condición, muchas veces es tener una mejor visión de las acciones que se están haciendo, en la actualidad esto se da también debido a la evulución que el mundo día a día esta dando.
</p>
<p>
  El cambio es evolución, la adaptación de nuevas estrategias, de nuevas 
  tecnologías, de nuevas ideas, todo radica en genera un mejor ambiente,
  en llegar a pensar diferente.
<p>
  El cambio esta en todo nuestro vivir, de una u otra forma constantemente
  estamos cambiando y sin darnos cuenta, muchas veces ni nos reusamos a este.
</p>
</div>
<div class="col-sm-6">
<img style="display: block;  margin: 10px; width: 70%;" src="/img/intro.jpg" alt="conclusiones">
</div>
</div>
