<% content_for :fixed_header do %>
  <h3 class="primary-text">Gestión del Cambio</h3>
<% end %>
<p>
  En las organizaciones existen diversos tipos de cambios, los más frecuentes son los provocados en la estructura debido a fusiones, esciciones, adecuaciones del tamaño por crecimientos o reducciones, los provocados por la tecnología, por la cultura organizacional y la sociedad misma.
</p>
<p>
  La gestión del cambio es el proceso que consiste en analizar el cambio que se realizara y tomar las medidas adecuadas para que la implantación del cambio se realice de manera éxitosa y el cambio sea positivo y no un peso para la organización.
</p>
<p>
  Existen dos grandes clasificaciones para los cambios:
</p>
<div class="row">
  <div class="col-sm-6">
    <h4>Cambios adaptadores</h4>
    <p>Son los que nacen en la empresa por influencia del exterior, por ejemplo:</p>
    <ul>
      <li>Adecuarse a nuevas políticas o estandares.</li>
      <li>Reaccionar a la competencia.</li>
      <li>Nuevas necesidades y exigencias de los clientes</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h4>Cambios Planeados</h4>
    <p>Se caracterizan por provenir del interior de la empresa, se basan en nuevos cambios deseados por la organización, por ejemplo:</p>
    <ul>
      <li>Adecuación en la visión.</li>
      <li>Crear una nueva ventaja competitiva.</li>
      <li>Mejorar un proceso interno.</li>
    </ul>
  </div>
</div>

<div class="align_center">
  <h5>La gestión en las organizaciones: </h5>
  <iframe style="display: block; margin: auto;" width="560" height="315" src="https://www.youtube.com/embed/WzWoYcI53yY?start=1&end=75&controls=0" frameborder="0" allowfullscreen></iframe>
</div>
