<% content_for :fixed_header do %>
  <h3 class="primary-text">¿Cómo ejecutar la Gestión del Cambio?</h3>
<% end %>
<p>
  La gestión de cambio en las organizaciones debe de realizarse con una coordinación bien planificada, puntuando las actividades y definiendo claramente los objetivos. Es importante que haya una comunicación clara y eficiente de manera que todas las personas involucradas y afectadas por el cambio tengan consciencia del mismo y se reduzca la resistencia al mismo.
</p>

<p>
  El proceso del cambio debe de realizarse de manera sistematica y ordenada para lograr los mejores resultados, a continuación se ilustran las etapas dentro del proceso del cambio.
</p>
<img class="mb20" style="display: block; margin: auto;" height="300px" src="img/proceso_cambio.png" alt="Proceso de cambio">
<p>
  Mención especial al módelo de Kotter, quien define 8 pasos para ejecutar una gestión del cambio exitosa:
</p>
<ol>
  <li>Crear sentido de urgencia.</li>
  <li>Formar una poderosa coalición.</li>
  <li>Crear una visión para el cambio.</li>
  <li>Comunicar la visión.</li>
  <li>Eliminar los obstáculos .</li>
  <li>Asegurar triunfos a corto plazo .</li>
  <li>Construya sobre el cambio .</li>
  <li>Anclar el cambio en la cultura de la empresa.</li>
</ol>
