<% content_for :fixed_header do %>
  <h1 class="primary-text">¿Cómo ejecutar la Gestión del Cambio?</h1>
<% end %>
<p>
  Planificación de nuevas estrategias.
  Diagnostico Organizacional.
  
  
</p>
