<h3>El mundo de Software Libre y sus ventajas</h3>
<p> El mundo del software libre es muy amplio debido al continuo trabajo y aporte de las númerosas comunidades, de manera que existen muchisimas aplicaciones bajo está ideologia. Estos Software se caracterizan por:

<ul>
  <li>Sistemas sin puertas traseras y más seguros.</li>

  <li>Corrección más rápida y eficiente de fallos con ayuda de una comunidad inmensa.</li>

  <li>Acceso al código fuente completo. </li>
</ul>

<h3>Algunas aplicaciones de Software libre</h3>

<h5>Navegador Mozilla Firefox</h5>
<p>Es uno de los navegadores principales (usado por el 18% de los usuarios de internet), 
tanto de escritorio como dispositivo móvil, que cuenta además con muchas extensiones que 
complementan la funcionalidad del navegador.
</p>
<h5>Libre Office</h5>
<p>Libre Office es la mejor alternativa al paquete ofimático de Microsoft.
</p>
<h5>Clementine</h5>
<p>Reproductor de música moderno con funcionalidades para orgnanizar fácilmente la biblioteca de música. Multiplataforma.
</p>
<h5>Mozilla Thunderbird</h5>
<p>También de la fundación mozilla, Thunderbird es una aplicación 
de correo muy completa y ligera, disponible para múltiples sistemas operativos.
</p>
<h5>GIMP</h5>
<p>Esta aplicación de diseño y retoque fotográfico es la mejor alternativa a Photoshop. Permite editar el tamaño y resolución de tus imágenes, aplicar filtros, realizar composiciones y demás funcionalidades útiles para usar imágenes profesionales y personalizadas en tu página web.
</p>
