<% content_for :fixed_header do %>
  <h1 class="primary-text">¿Cómo ejecutar la Gestión del Cambio?</h1>
<% end %>
<p>
  Existen  8 pasos para ejecutar la gestión del cambio según Kotter.
  Paso 1: Cree sentido de urgencia.
  Paso 2: Forme una poderosa coalición.
  Paso 3: Crear una visión para el cambio.
  Paso 4: Comunique la visión.
  Paso 5: Elimine los obstáculos .
  Paso 6: Asegúrese triunfos a corto plazo .
  Paso 7: Construya sobre el cambio .
  Paso 8: Ancle el cambio en la cultura de la empresa.
</p>
