<% content_for :fixed_header do %>
  <h3 class="primary-text">Las ventajas de implementar la Gestión del Cambio</h3>
<% end %>
<div>
<img style="display: block;  margin: auto; width="560" height="315";" src="/img/ventajas.jpg" alt="Saber Hacer">
    </div>
<p>
- Implanta el modelo de gestión de competencias para facilitar la evaluación continua del desempeño 
de forma generalizada , por lo que la mejora profesional personal y del lugar de trabajo está 
en continua progresión integrándose en el día a día de la organización.
</p>
<p>
- Alinear las competencias específicas y genéricas demandadas por la empresa con las detenidas 
por el trabajador.
</p>
<p>
- Integra los objetivos de la organización con los de la persona, de manera 
que se genera un compromiso o implicación personal del empleado centrado en conseguir un alto 
grado de excelencia en las competencias identificadas en cada perfil profesional, incrementando 
el rendimiento de acuerdo con las metas asignadas.
</p>
<p>
- Introduce un nuevo modelo de liderazgo , facilitador y capacitador dando como fruto , un 
clima laboral de mutua cooperación.
</p>
<p>
- Adaptación de la persona al puesto ya la cultura organizativa, al trabajar por competencias, 
tiene como consecuencia un incremento en la satisfacción y motivación de la persona a la vez 
que le permite maximizar su eficiencia, teniendo la apreciación que es lo que se espera de ellos 
y cuál es su contribución a la consecución de los objetivos organizativos.
</p>
<p>
- Vehicula un modelo integrador de desarrollo profesional, consecuencia de la gestión integral de 
recursos humanos por competencias que comprende desde la descripción de puestos de trabajo, 
selección, evaluación del desempeño, hasta llegar a la promoción profesional, vertebrado por 
el nexo que constituye el desarrollo progresivo de unas competencias genéricas.
</p>
