<% content_for :fixed_header do %>
  <h3 class="primary-text">Gestión del Conocimiento</h3>
<% end %>
<div class="align_center">
  <h5>La gestión del conocimiento: </h5>
  <iframe style="display: block; margin: auto;" width="560" height="315" src="https://www.youtube.com/watch?v=demkva-BZjQ" frameborder="0" allowfullscreen></iframe>
</div>
<p>
La Gestión del conocimiento es una práctica organizacional, en virtud de 
la cual las organizaciones gestionan sus activos de conocimiento, 
para obtener un crecimiento del aprendizaje organizacional. 
Su objetivo es crear un conocimiento útil al desarrollo de la organización.
</p>
<p>
La gestión del conocimiento ha sido definida por varios autores: <br>
Wigg (citado por Artiles Visval, 2005) plantea: "La gestión de 
conocimiento hace énfasis en facilitar y gestionar actividades 
relacionadas con el conocimiento tales como la creación, captura, 
transformación y uso. Su función es planificar, implementar, operar 
y gestionar todas las actividades relacionadas con el conocimiento y 
los programas requeridos para la gestión efectiva del capital intelectual”.
</p>
<p>
Leticia y Sara Artiles Visbal (2005) plantean que la GC "Es el sistema que 
organiza los flujos de información, externos e internos, propicia la generación, 
apropiación, intercambio y uso de conocimientos necesarios para el incremento de 
la eficiencia y calidad en los procesos fundamentales de las organizaciones”; 
</p>
<p>
Estrada y Febles (2002) consideran que es un “proceso donde se añade valor a los 
conocimientos existentes y se generan nuevos conocimientos científicos, un nuevo 
mercado y nuevos servicios”, destacando que consideran a la GC un “proceso”".
</p>
<p>
Sveiby (2005) señala que la Gestión del Conocimiento "se enfoca en convertir 
el conocimiento individual en conocimiento organizacional para la aplicación 
de procesos sistemáticos y tecnologías para identificar,capturar, dirigir y 
diseminar el conocimiento requerido para apoyar a la resolución de problemas 
decisivos, asegurando que los decisores tengan acceso al conocimiento requerido, 
en un formato que cree sentido a ellos"
</p>
