<% content_for :fixed_header do %>
  <h3 class="primary-text">Métodos de Gestión del Conocimiento</h3>
<% end %>

<div class="row main-section">
    <div class="col-sm-6">
<p>
MODELO DE GESTIÓN DEL CONOCIMIENTO DE KPMG CONSULTING <br>
(TEJEDOR Y AGUIRRE, 1998).<br>
Los factores que configuran la capacidad de aprender de una empresa han sido estructurados 
en los tres bloques siguientes, atendiendo a su naturaleza: <br>
1.- Compromiso firme y consciente de toda la empresa, en especial de sus líderes, con 
el aprendizaje generativo, continuo, consciente y a todos los niveles. 
El primer requisito para el éxito de una iniciativa de gestión del conocimiento es reconocer 
explícitamente que el aprendizaje es un proceso que debe ser gestionado y comprometerse 
con todo tipo de recursos. <br>
2.- Comportamientos y mecanismos de aprendizaje a todos los niveles. La organización 
como ente no humano sólo puede aprender en la medida en que las personas y equipos que 
la conforman sean capaces de aprender y deseen hacerlo. 
Disponer de personas y equipos preparados es condición necesaria pero no suficiente 
para tener. <br>
3.- Desarrollo de las infraestructuras que condicionan el funcionamiento de la empresa y el 
comportamiento de las personas y grupos que la integran, para favorecer el aprendizaje y el 
cambio permanente. 
</p>
<div class="col-sm-6">
<img style="display: block;  margin: auto; width: 70%;" src="/img/kpmg.jpg" alt="kpmg">
</div>
</div>
</div>

<div class="row main-section"> 
 <div class="col-sm-6">
<p>
Modelo de Proceso de Creación del Conocimiento <br> 
(Nonaka Takeuchi 1995).<br>
Este modelo se caracteriza por la  generación del conocimiento mediante dos 
espirales de contenido Epistemológico y Ontológico. Proceso de interacción 
entre conocimiento tácito y explicito  , y  de naturaleza dinámica y continua.
Nonaka y Takeuchi se centran en el origen del conocimiento en si mismo y le da 
poca importancia a su  pertinencia con el entorno o la contingencia que lo rodea 
y el conocimiento fluye  de la siguiente manera :de tácito a tácito mediante la 
adquisición, de tácito a explicito por conversión, de explicito a explicito por 
creación y de explicito a tácito por incorporación. 
</p>
<div class="col-sm-6">
<img style="display: block;  margin: auto; width: 70%;" src="/img/nonaka_takeuchi.gif" alt="creacion">
</div>
</div>
</div>


<div class="row main-section">
 <div class="col-sm-6">
<p>
Modelo de Gestión del Conocimiento de Andersen <br>
(Arthur Andersen, 1999). <br>
Andersen enfoca la gestión del conocimiento desde dos perspectivas: 
Individual y  Organizacional La primera refiere la responsabilidad 
personal de compartir y hacer explicito el conocimiento y la segunda 
exige el compromiso de de crear infraestructura de soporte, implantar 
procesos, la cultura, la tecnología y los sistemas que permitan capturar, 
analizar, sintetizar, aplicar, valorar y distribuir el conocimiento. 
Andersen, reconoce además, la necesidad de acelerar el flujo de la información 
que tiene valor desde los individuos a la organización  y de vuelta a los 
individuos; de modo que ellos puedan usarlas para crear valor para los clientes.
</p>
<div class="col-sm-6">
</div>
</div>
<img style="display: block;  margin: auto; width: 70%;" src="/img/anderser.jpg" alt="andersen">
</div>
</div>
</div>
