
<% content_for :fixed_header do %>
  <h3 class="primary-text">Métodos de Gestión del Conocimiento</h3>
<% end %>

<p>
 Almacenamiento, acceso y transferencia de conocimiento: modelos que no
suelen distinguir el conocimiento de la información y los datos y que lo
conciben como una entidad independiente de las personas que lo crean
y lo utilizan. Este tipo de modelos de GC se centran en el desarrollo de
metodologías, estrategias y técnicas para almacenar el «conocimiento»
disponible en la organización en depósitos de fácil acceso para propiciar
su posterior transferencia entre los miembros de la organización (por ejemplo:
«páginas amarillas del conocimiento», archivos de información de las
personas, etc.). Según Davenport y Prusak (1998), existen tres tipos básicos
de almacenes de conocimiento: conocimiento externo, conocimiento
interno estructurado y conocimiento interno informal.
 </p>

 <p>
 Sociocultural: modelos centrados en el desarrollo de una cultura organizacional
adecuada para el desarrollo de procesos de gestión del conocimiento.
Intentan promover cambios de actitudes, fomentar confianza, estimular la
creatividad, concienciar sobre la importancia y el valor del conocimiento,
promover la comunicación y la colaboración entre los miembros de la organización,
etc
 </p>

 <p>
 Tecnológicos: modelos en los que destaca el desarrollo y la utilización de
sistemas (por ejemplo: data warehousing, intranets, sistemas expertos, sistemas
de información, web, etc.) y herramientas tecnológicas (por ejemplo: motores
de búsqueda, herramientas multimedia y de toma de decisiones) para la
gestión del conocimiento.
 </p>
