 <div class="row main-section">
    <div class="col-sm-6">
        <h3 class="card-title align-center text-info">Conclusiones</h3>
        <p>
La Gestión del cambio es un tema que actualemente en las empresas le están utilizando
para tener mejore resultados. Llegar a medirce en determinado tiempo y crear nuevas 
estrategias es obligatorias para las empresas por las nuevas competencias que estás 
constantemente están saliendo al mercado. <br><br>

Al haber abordado este Objeto de Aprendizaje el cual nos habla sobre la Gestión del cambio 
podemos definir más claramente el concepto de lo que en sí es la gestión del cambio y gestión 
del conocimiento, del cual, tener basto conocimiento de estos es muy importante no solo para las empresas, 
también para los profesionales que trabajan para ellas o para todos aquellos que quieran tener mejores
resultados o mejor rendimiento tanto en su trabajo profesional como vida personal. <br><br>

Esperando que el Objeto de Aprendizaje haya tenido un claro lenguaje y sobre todo la 
información comparida haya sido de mucha utilidad y el inrequesimiento del conocimiento necesario 
para genera una mejor perspectiva de este hermoso tema.
</p>
        
    </div>
    
<div class="col-sm-6">
<img style="display: block;  margin: auto; width: 70%;" src="/img/Gestion.jpg" alt="conclusiones">
</div>
    </div>
