<div class="row main-section">
  <div class="col-sm-6">
    <h3 class="card-title align-center text-info">Conclusiones</h3>
      <p>
        La Gestión del cambio es un tema muy difundido actualmente en las organizaciones, las cuales la llevan a cabo
        para tener mejore resultados. Con la globalización y toda la competencia, las organizaciones estan obligadas a realizar cambios para mantenerse a la vanguardia y mantener su puesto, estos cambios pueden provenir desde el interior o el exterior y pueden ser tanto planeados como repentinos, pero solo mediante una correcta gestión del cambio es que dichas entidades pueden lograr resultados positivos y obtener ventajas competitivas.
      </p>

      <p>
        Por otro lado, muy asociada a los cambios organizacionales, la gestión del conocimiento juega un papel muy importante en las organizaciones actuales, ya que hoy en día la información no lo es todo, y el conocimiento toma más valor, en la era actual, donde se vive la conocida sociedad del conocimiento, es natural que este sea un recurso muy importante, una correcta gestion del conocimiento es un gran sustento para la gestión del cambio ya que esta proveé de más información útil para que el cambio se implemente de la mejor manera posible.
      </p>

      <p>
        Al haber abordado este Objeto de Aprendizaje, el concepto de la gestión del cambio y del conocimiento estaran más claras, al igual que su importancia y sus diferencias.
      </p>

      <p>
        Esperando que el Objeto de Aprendizaje haya tenido un claro lenguaje, y sobre todo la 
        información compartida haya sido de mucha utilidad para el enriquecimiento de la información sobre las tematicas, aqui termina esta lección</p>
      </p>
        
    </div>
    
<div class="col-sm-6">
<img style="display: block;  margin: auto; width: 70%;" src="/img/Gestion.jpg" alt="conclusiones">
</div>
    </div>
