<h2 class="text-primary">Sección III - Gestión del Conocimiento</h2>
  <small class="text-muted">Elija la respuesta correcta según corresponda.</small>
  <hr>
  <form id="form_eval_3">
    <ol>
      <li>
        <h5>La gestión del conocimiento consiste en:</h5>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionOne"  value="option1" required>
              Mantener una base de datos para guardar toda la información de la organización.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionOne"  value="option2">
              Documentar toda la información de la organización.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionOne"  value="option3">
              Convertir el conocimiento individual en conocimiento organizacional.
            </label>
          </div>
        </div>
      </li>

      <li>
        <h5>El objetivo de la gestión del conocimiento es:</h5>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionTwo"  value="option1" required>
              Crear conocimiento útil al desarrollo de la organización.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionTwo"  value="option2">
              Añadir valor a los conocimientos existentes y generar nuevo conocimiento.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionTwo"  value="option3">
              Todas las anteriores.
            </label>
          </div>
        </div>
      </li>

      <li>
        <h5>El modelo de proceso de creación del conocimiento (Nokata Takeuchi) se caracteriza por:</h5>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionThree"  value="option1" required>
              Enfocarse en la perspectiva individual y la organizacional.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionThree"  value="option2">
              La interacción entre el conocimiento tácito y explicito.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionThree"  value="option3">
              Todas las anteriores.
            </label>
          </div>
        </div>
      </li>

      <li>
        <h5>El módelo del conocimiento de KPMG propone que:</h5>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFour"  value="option1" required>
              Debe haber un compromiso firme y consciente de toda la empresa en todos los niveles.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFour"  value="option2">
              Se debe acelerar el flujo de información que tiene valor desde los individuos a la organización y vice versa.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFour"  value="option3">
              Todas las anteriores.
            </label>
          </div>
        </div>
      </li>

    </ol>
    
    <button type="submit" class="btn btn-primary">Siguiente</button>

  </form>
<script>
send_eval_conf("#form_eval_3", "/eval_4");
function allowDrop(ev) {
    ev.preventDefault();
}
</script>