<div id="eval_cont">
  <h2 class="text-primary">Sección I - Gestión del Cambio</h2>
  <small class="text-muted">Elija la respuesta correcta según corresponda.</small>
  <hr>
  <form id="form_eval_1">
    <ol>
      <li>
        <h5>En las organizaciones, los cambios solo provienen del interior:</h5>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionOne"  value="option1" required>
              Verdadero.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionOne"  value="option2">
              Falso.
            </label>
          </div>
        </div>
      </li>

      <li>
        <h5>La gestión del cambio es el proceso que:</h5>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionTwo"  value="option1" required>
              Analiza los recursos financieros para efectuar un cambio.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionTwo"  value="option2">
              Analiza el cambio que se realizara y planea todas las medidas para implantarlo.
            </label>
          </div>
        </div>
      </li>

      <li>
        <h5>Los cambios adaptadores se caracterizan por:</h5>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionThree"  value="option1" required>
              Provenir del interior de la organización para adecuarla a nuevas mejoras.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionThree"  value="option2">
              Adecuar la visión de la organización.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionThree"  value="option3">
              Provenir del exterior de la organización para adecuarla a nuevos estandares.
            </label>
          </div>
        </div>
      </li>

      <li>
        <h5>Los cambios planeados se caracterizan por:</h5>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFour"  value="option1" required>
              Planearse a futuro.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFour"  value="option2">
              Basarse en nuevos cambios deseados por la organización.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFour"  value="option3">
              Basarse en nuevos cambios provenientes de los clientes.
            </label>
          </div>
        </div>
      </li>

      <li>
        <h5>En la gestión del cambio se involucra a:</h5>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFive"  value="option1">
              Todas las personas afectadas por el cambio.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFive"  value="option2" required>
              Solamente la alta gerencia de una organización, pues son quienes toman las decisiones.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFive"  value="option3">
              Solamente las personas que implementaran el cambio.
            </label>
          </div>
        </div>
      </li>

    </ol>
    
    <button type="submit" class="btn btn-primary">Siguiente</button>

  </form>
</div>