  <div class="row main-section">
    <div class="col-sm-6">
        <h4 class="card-title align-center text-info">Saber Hacer</h4>
        <p class="">
          Luego de estudiar este material, el individuo conocera la importancia de realizar una correcta gestión del cambio y como realizarla, además de el papel de la gestión del conocimiento en las organizaciones y su vital participación en la sociedad moderna.
        </p>
        <img style="display: block;  margin: auto; width: 70%;" src="/img/saber_hacer.png" alt="Saber Hacer">
    </div>
    <div class="col-sm-6">
        <h4 class="card-title align-center text-info">Contenido</h4>
        <div class="list-group index_list">
          <a href="/ch_1" class="list-group-item list-group-item-action">Introducción</a>
          <a href="/ch_2" class="list-group-item list-group-item-action">Gestión del Cambio</a>
          <a href="/ch_3" class="list-group-item list-group-item-action">¿Cómo ejecutar la Gestión del Cambio?</a>
          <a href="/ch_4" class="list-group-item list-group-item-action">Las ventajas de implementar la Gestión del Cambio</a>
          <a href="/ch_5" class="list-group-item list-group-item-action">Gestión del Conocimiento</a>
          <a href="/ch_6" class="list-group-item list-group-item-action">Métodos de Gestión del Conocimiento</a>
          <a href="/ch" class="list-group-item list-group-item-action">Evaluación Final</a>
          <a href="/ch_7" class="list-group-item list-group-item-action">Conclusión</a>
          <a href="/ch_8" class="list-group-item list-group-item-action">Bibliografía</a>
        </div>
    </div>
  </div>
