<% content_for :fixed_header do %>
  <h3 class="primary-text">Evaluación Final</h3>
<% end %>
<p>
  Con el fin de reafirmar los conocimientos adquiridos a lo largo de las diferentes temáticas, se realizara un test compuesto de cuatro actividades sobre cada una de las temáticas. Dentro de cada una podra encontrar breves instrucciones sobre su realización.
</p>
<p>
  Al finalizar todas las actividades se brindara una retroalimentación sobre su desempeño y un puntaje final.
</p>
<a href="/eval_1" class="btn btn-primary">
      Empezar
</a>